# Ignorer tout par défaut
*

# Conserver le dossier Data et son contenu
!Data/
!Data/**
!.github/
!.github/**
!app_streamlit/
!app_streamlit/**

# Conserver les fichiers spécifiques
!.gitattributes
!.gitignore
!api.py
!app.py
!home_credit.png
!Logo_pret_a_depenser.png
!Projet_7_1.ipynb
!Projet_7_2.ipynb
!README.md
!requirements.txt
!CI_CD_pipeline.py

!dockerignore
!Dockerfile
