# Ignorer les dossiers de cache
__pycache__/
.ipynb_checkpoints/

# Ignorer les configurations d'IDE
.vscode/
.idea/

best_model_xgb/

*.csv
*.pkl

# Ignorer les fichiers de suivi MLFlow
mlruns/
mlartifacts/

# Ignorer les fichiers d'artifacts CatBoost
catboost_info/
